/* VARIABLES */
:root {
    --color-primary: orangered;
    --color-secondary: green;
    --color-text: #6d7c90;
    --white: #fff;
    --grey: #eee;
    --light-grey: #f3f4f6; 
    --dark: #333;
    --brown: rgba(104, 50, 5, 1);
    --purple: rgba(80, 3, 71, 1);
    --box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-text);
    line-height: 1.5;
}

.text-white {
    color: var(--grey);
}

section {
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

/* UTILITY CLASSES */
.u-mb-small {
    margin-bottom: 1.5rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}

/* HEADER SECTION */
/* HEADER SECTION */
/* HEADER SECTION */
header {
    background-color: var(--grey);
}

.logo h2 {
    font-size: 3.5rem;
    color: var(--color-secondary);
    cursor: pointer;
}

.logo h2 span {
    color: var(--color-primary);
}

.check,
.hamburger {
    display: none;
    cursor: pointer;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul li {
    list-style: none;
    margin: 0 .5rem;
}

.nav-ul li a {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: .8rem 1.6rem;
    background-color: transparent;
    color: var(--dark);
    position: relative;
    transition: all .3s;
}

.nav-ul li a:hover,
.nav-ul .current a {
    padding: .8rem;
    background-color: var(--color-primary);
    border-radius: 3px;
    font-size: 1.4rem;
    color: white;
}

.nav-ul li a::before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    opacity: 0;
    transition: all .3s;
}

.nav-ul li a:hover::before {
    left: -8px;
    bottom: -8px;
    opacity: 1;
}
.nav-ul li a::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 8px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    opacity: 0;
    transition: all .3s;
}

.nav-ul li a:hover::after {
    right: -8px;
    top: -8px;
    opacity: 1;
}

.btn {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 1.6rem;
    background-color: var(--color-secondary);
    color: var(--white);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    border-width: 0 0 0 4px;
    transition: all .3s;
}

.btn:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    font-size: 1.7rem;
    border-width: 0 0 0 4px;
}

/* Intro Section */
/* Intro Section */
/* Intro Section */
.intro-section {
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0% 100%);
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0 ;
    background-color: rgba(0, 0, 0, .7);
}
.intro-content {
    padding: 10rem 2.5rem;
    z-index: 1;
}
.intro.text {
    width: 65%;
}
.intro-text h1 {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}
.first-span {
    font-size: 3rem;
    display: block;
    text-transform: capitalize;
    color: var(--grey);
    opacity: .7;
}

.second-span::before {
    content: 'TEXT ANIMATION';
    animation: text-changer 8s infinite 2s;
}

@keyframes text-changer {
    0% {
        content: "WEBSITES";
        color: var(--color-primary);
    }
    25% {
        content: "MOBILE APPS";
        color: rgba(255,255,255,.7);
    }
    50% {
        content: "SOFTWARES";
        color: var(--color-secondary);
    }
    75% {
        content: "WEB APPS";
        color: rgba(255,255,255,.7);
    }
    100% {
        content: "ICT SERVICES";
        color: var(--color-primary);
    }
}


/********* MEDIA QUERIES *********/
/********* MEDIA QUERIES *********/
/********* MEDIA QUERIES *********/

/* Tablet Query */
@media screen and (max-width: 769px) {
    /* HEADER SECTION */
    nav .btn {
        display: none;
    }
}

/* Mobile Query */
@media screen and (max-width: 600px) {

    /* HEADER SECTION */
    .hamburger {
        display: inline-block;
    }
    .hamburger i {
        font-size: 3rem;
        color: var(--color-primary);
        transition: all .3s;
    }
    .nav-ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, .7);
        padding-top: 2rem;
        transform: translateX(-100%);
        z-index: 10;
        transition: all .5s;
    }
    .nav-ul li {
        margin-top: 1.5rem;
        border-bottom: 1px solid var(--white);
        padding-bottom: 1rem;
    }
    .nav-ul li a {
        color: var(--white);
        padding: 1rem 2.5rem;
    }
    .nav-ul li a:hover,
    .nav-ul .current a {
        margin-left: 1rem;
        background-color: transparent;
        color: var(--color-primary);
    }
    .nav-ul li a::before,
    .nav-ul li a::after {
        display: none;
    }

    /* slide menu when the hamburger is clicked */
    #toggle:checked ~ .nav-ul {
        transform: translateX(0);
    }
    #toggle:checked ~ .hamburger i {
        border: 1px solid var(--dark);
        padding: 2px 5px;
        border-radius: 3px;
    }
}